<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @demo.title %>
</p>

<p>
  <b>Body:</b>
  <%= @demo.body %>
</p>


<%= link_to 'Edit', edit_demo_path(@demo) %> |
<%= link_to 'Back', demos_path %>
